:root {
  --white: #fff;
  --black: #000;
  --brown: #743e1d;
  --dark-brown: #5a2c10;
  --dark-brown2: #2f1708;
  --light-black: #222;
  --light-black2: #333;
  --orange: #ffa26a;
  --dark-orange: #fd680e;
  --light-orange: #ffd2b7;
  --light-orange2: #fd8841;
  --peach: #fff7f2;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1200px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  /* color: #444; */
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}
